


/********************************** KAYAK ********************************/

@font-face {
	font-family: 'Kayak Sans Bold';
	src: url('../fonts/Kayak_Sans_Bold.eot');
	src: url('../fonts/Kayak_Sans_Bold.otf') format('truetype'),
	     url('../fonts/Kayak_Sans_Bold.woff') format('woff'),
	     url('../fonts/Kayak_Sans_Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Kayak Sans Bold Italic';
	src: url('Kayak_Sans_Bold_Italic.eot');
	src: url('Kayak_Sans_Bold_Italic.otf') format('truetype'),
	     url('Kayak_Sans_Bold_Italic.woff') format('woff'),
	     url('Kayak_Sans_Bold_Italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Kayak Sans Light';
	src: url('Kayak_Sans_Light.eot');
	src: url('Kayak_Sans_Light.otf') format('truetype'),
	     url('Kayak_Sans_Light.woff') format('woff'),
	     url('Kayak_Sans_Light.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Kayak Sans Light Italic';
	src: url('Kayak_Sans_Light_Italic.eot');
	src: url('Kayak_Sans_Light_Italic.otf') format('truetype'),
	     url('Kayak_Sans_Light_Italic.woff') format('woff'),
	     url('Kayak_Sans_Light_Italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Kayak Sans Regular';
	src: url('Kayak_Sans_Regular.eot');
	src: url('Kayak_Sans_Regular.otf') format('truetype'),
	     url('Kayak_Sans_Regular.woff') format('woff'),
	     url('Kayak_Sans_Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Kayak Sans Regular Italic';
	src: url('Kayak_Sans_Regular_Italic.eot');
	src: url('Kayak_Sans_Regular_Italic.otf') format('truetype'),
	     url('Kayak_Sans_Regular_Italic.woff') format('woff'),
	     url('Kayak_Sans_Regular_Italic.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

/********************************** FIN KAYAK ********************************/







