
.none {
	display: none;
}

.float-right {
	float: right;
}

.bordure-arrondi-gauche {
	border-radius: 50px 0px 0px 50px;
}

.logo_app, .logo_min_app {
	font-size: 20pt;
	font-family: forte, verdana;
	font-weight: bold;
	text-decoration: none;
}

.enabled {
	color: white;
	background-color: rgba(0, 255, 0, 0.5);
	font-weight: bold;
	padding: 0;
	margin: 0;  
}

.disabled {
	color: white;
	background-color: rgba(255, 0, 0, 0.5);
	font-weight: bold;
}




/* Gestion des elements */

.elements .element {
	padding: 15px 15px;
	margin: 10px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 30px 0px 30px 0px;
}

.elements .element:hover {
	color: white;
	background-color: rgba(0, 204, 205, 0.9);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
	transition: all 0.5s;
}

.elements .element b {
	font-size: 8pt;
}

.elements .element p {
	font-size: 8pt;
	text-align: center;
	font-style: italic;
}

/* Fin Gestion des elements */



















/* Evaluation */

.check {
	transform: scale(0.95);
	color: white;
	background-color: rgba(0, 204, 205, 1);
	transition: all 0.5s;
}



#panel_formulaire {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.97);
	padding-top: 50px;
	overflow: auto;
	border: none; 
	z-index: 500;
}

#panel_formulaire label {
	color: white;
}

#panel_formulaire #form {
	animation: backInDown 1s;
}




#panel_composition {
	position: relative;
}

#panel_composition #image_composition {
	padding: 10px 0px;
}

#panel_composition #image_composition img {
	margin: 0px auto;
}

#panel_composition #infos_composition {
	padding: 10px 20px;
}

.question .section_proposition {
	position: relative;
}

.question .section_proposition .options {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 6px 10px;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 204, 205, 1);
	border-radius: 0px 0px 5px 5px;
}

.question .proposition {
	font-size: 12pt;
	font-weight: bold;
	padding: 10px 20px;
	margin: 20px 0px;
	border: 2px solid rgba(0, 204, 205, 0.5); 
	cursor: pointer;
}

.question .proposition:hover {
	color: white;
	background-color: rgba(0, 204, 205, 1);
	transition: all 0.5s;
}

#countdown {
	position: fixed;
	top: 0px;
	right: 15%;
	padding: 10px 15px;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 204, 205, 0.6);
	border-radius: 0px 0px 10px 10px;
	z-index: 999999999999999;
}

@media all and (max-width: 500px) {
	#countdown {
		top: 10px;
		right: 0px;
		padding: 10px 10px;
		border-radius: 100px 0px 0px 100px;
	}
}

/* Fin Evaluation */






















